.element__delete {
    background-image: url(../../../components/images/Trash.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    min-width: 18px;
    min-height: 19px;
    object-fit: contain;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}

.element__delete:hover {
    opacity: 0.6;
}